*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    min-width: 100vh;
    background: #87dae0;
}

.Title
{
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow: 0 7px 12px rgba(0, 0, 0, .2);
}

header
{
    position: relative;
    width: 100vw;
    height: 50px;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    box-shadow: 0 7px 12px 0 rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
}

nav a, nav h1
{
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}

nav span
{
    position: absolute;
    top: 0;
    left: 370px;
    width: 170px;
    height: 100%;
    border-radius: 0px 0px 8px 8px;
    background: linear-gradient(45deg, #87f3c1, #3bd3ee);
    transition: .5s;
}

nav a:hover
{
    color: #0184b8;
    transition: .5s;
}

nav a:nth-child(2):hover~span
{
    left: 540px;
    width: 145px;
}